################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
/OpticalFlow/Debug
*.opensdf
*.sdf
*.suo
*.ipch
/OpticalFlow/Release
/Debug
/Release
/OpticalFlow/Profiling
/OpticalFlow/profile.csv
/OpticalFlow/DownfilterY_2_2.jpg
/OpticalFlow/DownfilterY_2_1.jpg
/OpticalFlow/DownfilterY_2_0.jpg
/OpticalFlow/DownfilterY_1_2.jpg
/OpticalFlow/DownfilterY_1_0.jpg
/OpticalFlow/DownfilterX_2_1.jpg
/OpticalFlow/DownfilterX_2_0.jpg
/OpticalFlow/DownfilterX_1_1.jpg
/OpticalFlow/DownfilterX_1_0.jpg
