################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
/OpticalFlow/Debug
*.opensdf
*.sdf
*.suo
*.ipch
/OpticalFlow/Release
